<div class="container">
  <h1>{{ title }}</h1>
  <!-- Weapons Content -->
  <div class="item-content">
    <div class="bar-item-content" (click)="handleShowContent('Weapons')">
      <h2 class="title-dropdown">Weapons</h2>
    </div>
    <app-list-weapons *ngIf="showWeapons"></app-list-weapons>
  </div>

  <!-- Agents Content -->
  <div class="item-content">
    <div class="bar-item-content" (click)="handleShowContent('Agents')">
      <h2 class="title-dropdown">Agents</h2>
    </div>
    <!-- <app-list-agents *ngIf="showAgents"></app-list-agents> -->
  </div>

</div>
